{% include "header.html" %}
<a id="options">
  <h2>{{ t!("guide.header")}}</h2>
</a>

<a id="expiration">
  <h3>{{ t!("upload.expiration.title")}}</h3>
</a>
<p>
  {{ t!("upload.expiration.desc") }}
</p>

{% if args.enable_burn_after %}
<a id="burn-after">
  <h3>{{ t!("upload.burn.title") }}</h3>
</a>
<p>
  {{ t!("upload.burn.desc") }}
</p>
{%- endif %}

{% if args.highlightsyntax %}
<a id="syntax">
  <h3>{{ t!("upload.highlight.title") }}</h3>
</a>
<p>
  {{ t!("upload.highlight.desc") }}
</p>
{%- endif %}

<a id="password">
  <h3>{{ t!("upload.password.title") }}</h3>
</a>
<p>
  {{ t!("upload.password.desc") }}
</p>

<a id="privacy">
  <h3>{{ t!("upload.privacy.title") }}</h3>
</a>
<p>
  {{ t!("upload.privacy.desc") }}
</p>
<h4>{{ t!("upload.privacy.level1.title") }}</h4>
<p>{{ t!("upload.privacy.level1.desc") }}</p>
<h4>{{ t!("upload.privacy.level2.title") }}</h4>
<p>{{ t!("upload.privacy.level2.desc") }}</p>
<h4>{{ t!("upload.privacy.level3.title") }}</h4>
<p>{{ t!("upload.privacy.level3.desc") }}</p>
<h4>{{ t!("upload.privacy.level4.title") }}</h4>
<p>{{ t!("upload.privacy.level4.desc") }}</p>
<h4>{{ t!("upload.privacy.level5.title") }}</h4>
<p>{{ t!("upload.privacy.level5.desc") }}</p>


{% include "footer.html" %}